$backgroud-color1: #ffffff;
$backgroud-color2: #fffffff2;
$backgroud-color3: #ffffff26;
$backgroud-color4: #fcfaf68c;
$backgroud-color5: #fbf9f9;
$backgroud-color6: #faf7f1;
$backgroud-color7: #d8f0e3;
$backgroud-color8: #c0e1cf;
$backgroud-color9: #f3d0c7;
$backgroud-color10: #e1c0b0;
$backgroud-color11: #ef2853;
$backgroud-color12: #ee2852;
$backgroud-color13: #00000026;
$text-colors1: #ffffff;
$text-colors2: #f5d8ca;
$text-colors3: #f8d12d;
$text-colors4: #badac9;
$text-colors5: #a6a6a6;
$text-colors11: #f0817b;
$text-colors6: #eb6950;
$text-colors7: #878787;
$text-colors8: #6d6d6d;
$text-colors9: #80465f;
$text-colors10: #000000;
$fillColors1: #ffffff;
$fillColors2: #f0817b;
$fillColors3: #ee2852;
$fillColors4: #000000;
$border1: #ebebeb;
$border2: #f5d8ca;
$border3: #c0e1cf;
$border4: #e1c0b0;
