$backgroud-color1: #FFFFFF;
$backgroud-color2: #FFFFFFF2;
$backgroud-color3: #FFFFFF26;
$backgroud-color4: #FCFAF68C;
$backgroud-color5: #FBF9F9;
$backgroud-color6: #FAF7F1;
$backgroud-color7: #D8F0E3;
$backgroud-color8: #C0E1CF;
$backgroud-color9: #F3D0C7;
$backgroud-color10: #E1C0B0;
$backgroud-color11: #EF2853;
$backgroud-color12: #EE2852;
$backgroud-color13: #00000026;
$text-colors1: #FFFFFF;
$text-colors2: #F5D8CA;
$text-colors3: #F8D12D;
$text-colors4: #BADAC9;
$text-colors5: #A6A6A6;
$text-colors11: #F0817B;
$text-colors6: #EB6950;
$text-colors7: #878787;
$text-colors8: #6D6D6D;
$text-colors9: #80465F;
$text-colors10: #000000;
$fillColors1: #FFFFFF;
$fillColors2: #F0817B;
$fillColors3: #EE2852;
$fillColors4: #000000;
$border1: #EBEBEB;
$border2: #F5D8CA;
$border3: #C0E1CF;
$border4: #E1C0B0;