@use "/node_modules/bootstrap/scss/bootstrap";
@use "../styles/variabiles" as *;
// fortawesome
@use "@fortawesome/fontawesome-free/css/all.min.css";

@import "@fontsource/playfair-display"; // Defaults to weight 400
@import "@fontsource/playfair-display/400.css"; // Specify weight
@import "@fontsource/playfair-display/400-italic.css"; // Specify weight and style

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.ms-listlink {
  list-style: none;
  cursor: pointer;
}

.ms_btn {
  text-transform: uppercase;
  border: 3px solid $border4;
  width: fit-content;
  padding: 1.2em 3em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.8s ease;
  background-color: #fff;

  &:hover {
    box-shadow: 0 0 0 5vw $border4 inset;
    color: white;
  }
}

.ms_btn_secondary {
  text-transform: uppercase;
  border: 3px solid $border4;
  width: fit-content;
  padding: 1.2em 3em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.8s ease;
  background-color: $backgroud-color8;

  &:hover {
    box-shadow: 0 0 0 5vw $border4 inset;
    color: white;
  }
}
